# Gemini API Key for server-side generation
GEMINI_API_KEY=

# Liara API Key for the Ad/Caption generator
LIARA_API_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiI2YTNhMTM0ZTIxMzAxMmJlMTIwMmRiZjMiLCJ0eXBlIjoiYWlfa2V5IiwiaWF0IjoxNzgyMTkwOTI2fQ.aWbFXlkFn1eI9DC-aMRFSvuClET6tWmphhaVrS92q5c
